[submodule "hitpoints-api-express"]
	path = hitpoints-api-express
	url = https://github.com/bmichaellee/hitpoints-api-express.git

[submodule "hitpoints-ui-vue"]
	path = hitpoints-ui-vue
	url = https://github.com/bmichaellee/hitpoints-ui-vue.git

[submodule "hitpoints-ui-react"]
	path = hitpoints-ui-react
	url = https://github.com/bmichaellee/hitpoints-ui-react.git
	
[submodule "hitpoints-ui-react-native"]
	path = hitpoints-ui-react-native
	url = https://github.com/bmichaellee/hitpoints-ui-react-native.git
